section.Verses .sec_container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container {
    flex-direction: column-reverse;
  }
}
section.Verses .sec_container .info_sec {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 21px 35px 0px rgba(0, 0, 0, 0.031372549);
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .info_sec {
    padding: 22px;
  }
}
section.Verses .sec_container .info_sec .boxes_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  position: relative;
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .info_sec .boxes_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-auto-flow: dense;
    overflow: hidden;
  }
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .info_sec .boxes_container .box:nth-child(-n+5) {
    grid-column: span 1;
    grid-row: span 1;
  }
  section.Verses .sec_container .info_sec .boxes_container .box:nth-child(n+5) {
    grid-column: span 2;
  }
}
@media screen and (min-width: 992px) {
  section.Verses .sec_container .info_sec .boxes_container:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 50%;
    left: 0;
    right: 0;
    background: #e5e6f2;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
  }
}
@media screen and (min-width: 992px) and (max-width: 450px) {
  section.Verses .sec_container .info_sec .boxes_container:after {
    display: none;
  }
}
section.Verses .sec_container .info_sec .boxes_container .box {
  position: relative;
  padding-right: 12px;
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .info_sec .boxes_container .box:not(:last-child) {
    padding-bottom: 16px !important;
  }
  section.Verses .sec_container .info_sec .boxes_container .box:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e5e6f2;
    width: 116%;
    height: 2px;
  }
}
section.Verses .sec_container .info_sec .boxes_container .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
  background-color: #e5e6f2;
  width: 1px;
  height: 90%;
}
section.Verses .sec_container .info_sec .boxes_container .box .title {
  margin-bottom: 10px;
}
section.Verses .sec_container .info_sec .boxes_container .box .title p {
  font-family: var(--effra-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
  color: #707f82;
}
section.Verses .sec_container .info_sec .boxes_container .box .name p {
  font-family: var(--effra-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: right;
}
section.Verses .sec_container .sec_title {
  margin-top: 40px;
}
section.Verses .sec_container .slider_sec {
  margin-top: 24px;
  margin-bottom: 50px;
}
section.Verses .sec_container .slider_sec .box {
  display: flex;
}
section.Verses .sec_container .slider_sec .box .box_container {
  margin: auto;
  width: 397px;
  height: 319px;
  padding: 24px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .slider_sec .box .box_container {
    width: 250px;
  }
}
section.Verses .sec_container .slider_sec .box .box_container .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.Verses .sec_container .slider_sec .box .box_container .info .img_container {
  width: 55px;
  height: 55px;
  display: flex;
  border: 8px solid white;
  border-radius: 32px;
  position: relative;
  z-index: 1;
  background-color: rgba(230, 221, 198, 0.2);
  margin-left: 12px;
}
section.Verses .sec_container .slider_sec .box .box_container .info .img_container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
section.Verses .sec_container .slider_sec .box .box_container .info .text_container {
  margin-bottom: 16px;
}
section.Verses .sec_container .slider_sec .box .box_container .info .text_container .name {
  margin-bottom: 4px;
}
section.Verses .sec_container .slider_sec .box .box_container .info .text_container .name p {
  font-family: var(--effra-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
}
section.Verses .sec_container .slider_sec .box .box_container .info .text_container .type p {
  padding: 2.5px 8px 2.5px 8px;
  border-radius: 16px;
  background: rgba(187, 113, 101, 0.1019607843);
  font-family: var(--effra-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #bb7165;
  text-align: center;
}
section.Verses .sec_container .slider_sec .box .box_container .desc p {
  font-family: var(--effra-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #707f82;
}
section.Verses .sec_container .slider_sec .box .box_container .said {
  margin-top: auto;
}
section.Verses .sec_container .slider_sec .box .box_container .said .title {
  margin-bottom: 23px;
}
section.Verses .sec_container .slider_sec .box .box_container .said .title p {
  font-family: var(--effra-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
  color: #707f82;
}
section.Verses .sec_container .slider_sec .box .box_container .said .title p::before, section.Verses .sec_container .slider_sec .box .box_container .said .title p::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 1px;
  background-color: #e5e6f2; /* Adjust the color as needed */
}
section.Verses .sec_container .slider_sec .box .box_container .said .title p::before {
  left: 50px;
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .slider_sec .box .box_container .said .title p::before {
    left: -24px;
  }
}
section.Verses .sec_container .slider_sec .box .box_container .said .title p::after {
  right: 50px;
}
@media screen and (max-width: 992px) {
  section.Verses .sec_container .slider_sec .box .box_container .said .title p::after {
    right: -24px;
  }
}
section.Verses .sec_container .slider_sec .box .box_container .said .desc p {
  font-family: var(--effra-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center !important;
  color: var(--main-blue-color) !important;
}/*# sourceMappingURL=index.module.css.map */